ul {
	 list-style-type: none;
	 width:100%;
	 min-width:20rem;
	 padding:0;
}
.media{
	overflow: auto;
}
.media-body {
	float:left;
	margin-bottom:1.5rem;
	width: 100%;
} 
.media-left {
	border-top: 2px solid #eee;
	margin-bottom:1rem;
	float:left;
	width:100%;
}