ul {
	 list-style-type: none;
}
.media{
	overflow: auto;
}
.media-body {
	float:left;
	margin-bottom:1.5rem;
} 
.media-left {
	border-top: 2px solid #eee;
	margin-bottom:1rem;
	float:left;
	width:100%;
}